<html>
<body>

    <ol>
    {{#people}}
        <ol>
            <a href="/person?id={{id}}">{{.}}</a>
        </ol>
    {{/people}}
    <ol>

<!-- if offset isn't zero lists "previous" -->
    {{#backOffset}}
        <a href="/?offset={{backOffset}}">back</a>
    {{/backOffset}}

<!-- if offset isn't the last set of names lists "next" -->
    {{#nextOffset}}
        <a href="/?offset={{nextOffset}}">next</a>
    {{/nextOffset}}

</body>
</html>