<html>
<head>

    
    <iframe
            width="0" height="0"
            src="https://www.youtube.com/v/wI66XSmyqwI?autoplay=1&loop=1&playlist=Cz6QhdmJULg"
            frameborder="0" allowfullscreen>
    </iframe>


</head>
<body>

        Name: {{firstName}} {{lastName}} <br>
        email: {{email}} <br>
        Country: {{country}} <br>
        IP: {{ipAddress}} <br>

</body>
</html>